body {
  color: #3d5172;
  background-color: #F9F9F9;
  font-size: 1.65rem;
}

h1, h2 {
  font-family: Times, Georgia, serif;
  font-weight: normal;
}

h4 {
  font-style: italic;
  font-weight: bold;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 10px;
}

.jumbotron img {
  width: 200px;
  border-radius: 10px;
  border: 1px solid #ced5e0;
  float: left;
  margin-right: 3rem;
}

.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0 0 18px 18px;
  min-height: 242px;
  /* border: 1px solid #ccc; */
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.container-content {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}


.date {
  font-size: 90%;
  font-style: italic;
}

.objective, .partner, .coded {
  font-weight: bold;
  font-style: italic;
  color:inherit;
}

/* BORDERS FOR DEBUGGING STYLES */
/* .banner div {
  border: 1px solid #f0f;
} */

/* .row div {
  border: 1px solid #f0f; */
}
